@import '../../styles/mixins.scss';

.ProductContainer {
  display: flex;
  background: #ffffff;
  border-radius: 15px;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.ProductContainer:hover {
  transform: translateY(-5px);
}

.Product {
  position: relative;
  padding: 15px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  img {
    width: 100%;
    height: 20%;
    object-fit: cover;
    user-select: none;
  }
}

.body {
  padding: 0px;
}

.title {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  color: #000;
  font-weight: bold;
}

.article {
  font-size: 12px;
  color: #000;
  margin-bottom: 2px;
}

.color {
  font-size: 12px;
  color: #000;
}

.bottom {
  display: flex;
  gap: 10px;
  justify-content: right;
  padding-top: 8px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.basket,
.star {
  cursor: pointer;
  transition: all 300ms ease;
}

.basket {
  display: flex;
  align-items: center;
  gap: 4px;
}

.inBasketTxt {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.inBasketCount {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.star {
  position: absolute;
  // background: rgb(173, 173, 173);
  border-radius: 10px;
  padding: 0px 0px 7px 7px;
  bottom: 0;
  left: 0;
}

.price {
  text-align: right;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.666);
  font-weight: bold;
}

.modalAddBasket {
  display: flex;
  font-weight: normal;
  gap: 10px;

  .title,
  .price {
    padding: 0;
    font-size: 14px;
    color: #fff;
  }

  .sds {
    color: #cc1934;
    background: #1c8646;
  }
}
